body {
	background: #000;
}

@font-face {
	font-family: 'KievitLight';
	src: url('/docs/fonts/kievit-light.eot');
	src: url('/docs/fonts/kievit-light.eot?#iefix') format('embedded-opentype'),
		url('/docs/fonts/kievit-light.svg#kievit-light') format('svg'),
		url('/docs/fonts/kievit-light.woff') format('woff'),
		url('/docs/fonts/kievit-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'KievitLight', Arial, sans-serif;
	font-weight: bold;
}

h3#what-is-this {
	margin-top: 0;
}

a {
	color: #006f7c
}

a:hover {
	color: #1cb0c2;
}

.btn-primary { 
background: #33aab7;
border-color: #33aab7;
}

.btn-primary:hover {
	background: #006f7c;
	border-color: #006f7c;
}

.container .doc-masthead {
	color: #fff;
	background: #008998;
	margin-bottom: 0;
		border-radius: 0;
}

.doc-body-inner {
	padding: 40px;
	background: #fff;
}

.container.doc-body {
	background: #071a2d;
	border-top: 1px solid #203a51;
	padding: 30px 10px;
}

/* RESPONSIVE */

@media (max-width: 768px) 
{
	.container.doc-body {
	padding: 0;
	border: 0;
	
}

.doc-body-inner {
	padding: 20px;
}
}

}
