body {
	background: #000;
}

h1, h2, h3, h4, h5, h6 {
font-family: Corbel, Arial;
}

.doc-masthead {
	color: #fff;
	background: #008998;
	margin-bottom: 0;
}
.container.doc-body {
	padding: 40px;
	background: #fff;
}