<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>

      <commerce.carts.saveCart>

        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.SaveCartToEaState, Sitecore.Commerce">
          <patch:delete/>
        </processor>

      </commerce.carts.saveCart>


      <commerce.carts.createOrResumeCart>
        <!--
		<processor type="Sitecore.Commerce.Pipelines.Carts.CreateOrResumeCart.FindCartInEaState, Sitecore.Commerce">
			<patch:attribute name="type">Sitecore.Commerce.Connectors.NopCommerce.Pipelines.Carts.GetCarts.FindCart, Sitecore.Commerce.Connectors.NopCommerce</patch:attribute>
		</processor>
        
		<processor type="Sitecore.Commerce.Pipelines.Carts.CreateOrResumeCart.RunResumeCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>		
        -->
      </commerce.carts.createOrResumeCart>


      <commerce.carts.loadCart>
        
        <processor type="Sitecore.Commerce.Pipelines.Carts.LoadCart.LoadCartFromEaState, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        
      </commerce.carts.loadCart>

      <commerce.carts.deleteCart>

        <processor type="Sitecore.Commerce.Pipelines.Carts.DeleteCart.DeleteCartFromEaState, Sitecore.Commerce">
          <patch:delete/>
        </processor>

      </commerce.carts.deleteCart>

    </pipelines>

  </sitecore>
</configuration>
