---
layout: home
title: Index
---
 
<h1>Community-generated documentation and links</h1>

<p>This is a <strong>community-driven</strong> collection of developer resources - including blogs, videos, references, and articles. Please note that although Sitecore employees contribute, this is <strong>not</strong> official Sitecore documentation. As content matures, it may be migrated to <strong><a href="http://doc.sitecore.net/">Sitecore's official documentation site</a></strong>.</p>

<hr />

<h4><a href="http://youtube.com/mastersitecore" class="noicon"><span class="glyphicon glyphicon-facetime-video"></span> Master Sitecore on YouTube</a></h4>

<p>Visit  <a href="http://youtube.com/mastersitecore">Master Sitecore on YouTube</a> for development, contente editing, and experience marketing tutorials.

<hr />

<h2>Installation and Setup</h2>
<ul>
   <li><a href="{{ site.baseurl }}/sitecore-basics/installing-sitecore">Options for Installing Sitecore</a></li>
</ul>

<h2>Defining Data</h2>

<ul>
  <li><s>Items and Content Architecture</s></li>
  <li><s>Data Templates</s></li>
  <li><s>Standard Values</s></li>
  <li><s>Insert Options</s></li>
</ul>

<h2>Workflow and User Permissions</h2>
<ul>
  <li><a href="{{ site.baseurl }}/documentation/Sitecore Fundamentals/Authorizations">Authorizations/Permissions</a></li>
</ul>

{% include nav_config.html %}

{% include nav_pipelines_events.html %}

{% include nav_extending.html %}

{% include nav_mvc.html %}

{% include nav_xdb.html %}

<hr />

<h2>Link Aggregation</h2>

<ul>
  <li><a href="/docs/documentation/Sitecore Fundamentals/index.html">Sitecore Fundamentals</a></li>
  <li><a href="/docs/documentation/Scaling and Optimization/index.html">Scaling and Optimization</a></li>
  <li><a href="/docs/documentation/Upgrades and Migrating/index.html">Upgrades and Migrating</a></li>
  <li><a href="/docs/documentation/Search/index.html">Sitecore Search</a></li>
  <li><a href="/docs/documentation/Sitecore Services Layer/index.html">Sitecore.Services.Client</a></li>
  <li><a href="/docs/documentation/Sitecore and Media/index.html">Sitecore and Media</a></li>
  <li><a href="/docs/documentation/Development Processes/index.html">Development Processes and Methodologies</a></li>
  <li><a href="/docs/documentation/Services and ORMs/index.html">Services and ORM</a></li>
  <li><a href="/docs/documentation/Extending the Sitecore Client/index.html">Extending the Sitecore Client</a></li>
  <li><a href="/docs/documentation/IoC/index.html">IoC and Dependency Injection</a></li>
  <li><a href="/docs/documentation/Mobile/index.html">Sitecore and Mobile</a></li>
  <li><a href="/docs/documentation/Sitecore Azure/index.html">Sitecore Azure</a></li>
  <li><a href="/docs/documentation/DMS/index.html">DMS</a></li>
  <li><a href="/docs/documentation/Modules/index.html">Modules</a></li>
  <li><a href="/docs/documentation/Sitecore Best Practices/index.html">Sitecore Best Practices and Newbie Help</a></li>
  <li><a href="/docs/documentation/Sitecore 7-5/index.html">Sitecore 7.5 Resources</a></li>
  <li><a href="/docs/documentation/Sitecore 8/index.html">Sitecore 8 Resources</a></li>
</ul>

<h2>Feeds</h2>

<ul>
  <li><a href="http://feeds.sitecore.net/Feed/LatestPosts">http://feeds.sitecore.net/Feed/LatestPosts</a></li>
  <li><a href="https://docs.google.com/spreadsheet/pub?key=0AuSZJtbDBPCQdFZKaUIxZkhxZlFndk11c1NUZU84YkE&amp;output=html">https://docs.google.com/spreadsheet/pub?key=0AuSZJtbDBPCQdFZKaUIxZkhxZlFndk11c1NUZU84YkE&amp;output=html</a> (MVP Details)</li>
  <li><a href="http://pipes.yahoo.com/pipes/pipe.info?_id=a4854adf0c2c2518e526facaac8ab8c2">http://pipes.yahoo.com/pipes/pipe.info?_id=a4854adf0c2c2518e526facaac8ab8c2</a> (Older Yahoo! MVP pipe - <a href="http://pipes.yahoo.com/pipes/pipe.run?_id=a4854adf0c2c2518e526facaac8ab8c2&amp;_render=rss">RSS</a> / <a href="http://pipes.yahoo.com/pipes/pipe.run?_id=a4854adf0c2c2518e526facaac8ab8c2&amp;_render=json">JSON</a>)</li>
</ul>

<h3 id="newsletters">Newsletters</h3>

<ul>
  <li><a href="http://paper.li/sitecore">The Sitecore Daily</a></li>
  <li><a href="http://paper.li/kiranpatils/1378702752">Sitecore Basics</a></li>
  <li><a href="http://paper.li/varunvns/1387067950">Sitecore Journal</a></li>
  <li><a href="http://tinyletter.com/sitecorebasics">Sitecore Basics Weekly</a></li>
</ul>

<h3 id="user-groups">User Groups</h3>

<ul>
  <li><a href="http://www.sitecore.net/Events/UK-Technical-User-Group/Presentations.aspx">http://www.sitecore.net/Events/UK-Technical-User-Group/Presentations.aspx </a></li>
  <li><a href="https://www.youtube.com/watch?v=vQVBaU5D4yo">https://www.youtube.com/watch?v=vQVBaU5D4yo (Sitecore MVC, SUG Conference)</a></li>
  <li><a href="https://www.youtube.com/playlist?list=PLb9QmtmxCbhmbOiRvFMXvByUb3AuvsdJI">https://www.youtube.com/playlist?list=PLb9QmtmxCbhmbOiRvFMXvByUb3AuvsdJI (Sitecore Virtual User Group)</a></li>
  <li><a href="https://www.youtube.com/playlist?list=PLb9QmtmxCbhmpb40pb8lpF_nX4h1a1zKH">https://www.youtube.com/playlist?list=PLb9QmtmxCbhmpb40pb8lpF_nX4h1a1zKH (2013 Sitecore Virtual Users Summit)</a></li>
</ul>

<h3 id="unsorted">Unsorted</h3>

<ul>
  <li><a href="http://sitecorebasics.wordpress.com/tag/tips-and-tricks/">http://sitecorebasics.wordpress.com/tag/tips-and-tricks/ </a></li>
  <li><a href="http://sitecorebasics.wordpress.com/2013/02/13/basics-of-sitecore-mvp-award/">http://sitecorebasics.wordpress.com/2013/02/13/basics-of-sitecore-mvp-award/ </a></li>
  <li><a href="http://sitecorebasics.wordpress.com/2014/08/24/the-seven-habits-of-highly-effective-sitecore-developers/">http://sitecorebasics.wordpress.com/2014/08/24/the-seven-habits-of-highly-effective-sitecore-developers/</a></li>
  <li><a href="http://sitecorebasics.wordpress.com/2012/03/27/why-i-love-sitecore/">http://sitecorebasics.wordpress.com/2012/03/27/why-i-love-sitecore/ </a></li>
</ul>

<h3 id="scheduled-tasks-and-agents">Scheduled Tasks and Agents</h3>
<ul>
  <li><a href="http://sitecorebasics.wordpress.com/2014/08/09/scheduled-task-basics/">http://sitecorebasics.wordpress.com/2014/08/09/scheduled-task-basics/ </a></li>
  <li><a href="http://sitecorebasics.wordpress.com/2014/09/16/do-you-know-why-you-check-async-checkbox-while-configuring-scheduled-task/">http://sitecorebasics.wordpress.com/2014/09/16/do-you-know-why-you-check-async-checkbox-while-configuring-scheduled-task/ </a></li>
</ul>

<h3 id="best-practices-multi-site-solutions">Best Practices: Multi-Site Solutions</h3>
<ul>
  <li><a href="http://www.nonlinearcreations.com/Digital/how-we-think/slideshows/Sitecore-multi-sites.aspx#.VHdnTyLfJmw.twitter">Sitecore best practices: Making the most of multi-sites</a></li>
</ul>

<h3 id="forums">Forums</h3>

<ul>
  <li><a href="http://techitpro.com/sitecore-forums-know-how/">http://techitpro.com/sitecore-forums-know-how/</a></li>
</ul>
