<div class="sidenav">
<h2><a href="{{ site.baseurl }}/xDB">xDB</a></h2>
 <ul class="main-menu nav-stacked affix-top">
    <li id="par-1-menu"><a href="{{ site.baseurl }}/xDB/the-xdb-contact/" onClick="ga('send','event','Sidenav','Click','xDB')">The xDB Contact</a>
    
      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/contact-facets" onClick="ga('send','event','Sidenav','Click','xDB')">Facets</a></li>
     </ul>


    <li id="par-1-menu">Engagement Automation</a>

      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/Engagement%20Automation/create-a-plan/" onClick="ga('send','event','Sidenav','Click','xDB')">Creating an Engagement plan</a></li>
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/Engagement%20Automation/debug-a-plan" onClick="ga('send','event','Sidenav','Click','xDB')">Debugging an Engagement plan</a></li>
     </ul>
    </li>

       <li id="par-1-menu">Reporting and Data</a>

      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/extending-experience-analytics-reports" onClick="ga('send','event','Sidenav','Click','xDB')">Extend Analytics Reports</a></li>
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/generating-data" onClick="ga('send','event','Sidenav','Click','xDB')">Generating Analytics Data</a></li>        
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/how-to-refresh-reports" onClick="ga('send','event','Sidenav','Click','xDB')">Refreshing Reports</a></li>
     </ul>
   </li>

            <li id="par-1-menu">Interfaces</a>

      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/interfaces/launch-pad" onClick="ga('send','event','Sidenav','Click','xDB')">Launch Pad</a></li>
        
     </ul>

       </li>
       <a href="{{ site.baseurl }}/xDB/outcomes" onClick="ga('send','event','Sidenav','Click','outcomes')">Outcomes</a>
       
    </li>
  </ul>
</div>
