<div class="sidenav">
<h2><a href="{{ site.baseurl }}/sitecore-mvc">Sitecore MVC</a></h2>
 <ul class="main-menu nav-stacked affix-top">
    <li id="par-1-menu"><a href="{{ site.baseurl }}/sitecore-mvc" onClick="ga('send','event','Sidenav','Click','MVC')">Getting Started</a></li>

    <li id="par-1-menu"><a href="{{ site.baseurl }}/sitecore-mvc/creating-project" onClick="ga('send','event','Sidenav','Click','MVC')">Create a Project</a></li>

    <li id="par-1-menu">
      MVC Components

      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/sitecore-mvc/view-renderings" onClick="ga('send','event','Sidenav','Click','MVC')">View Renderings</a></li>

        <li id="sub-par-1-2-menu"><a href="{{ site.baseurl }}/sitecore-mvc/controller-renderings" onClick="ga('send','event','Sidenav','Click','MVC')">Controller Renderings</a></li>
      </ul>

       <li id="par-1-menu">
      <a href="{{ site.baseurl }}/sitecore-mvc/rendering-content" onClick="ga('send','event','Sidenav','Click','MVC')">Rendering Content</a></li>
    </li>
  </ul>
</div>