<div class="sidenav">
<h2><a href="{{ site.baseurl }}/xDB">xDB</a></h2>
 <ul class="main-menu nav-stacked affix-top">
    <li id="par-1-menu"><a href="{{ site.baseurl }}/xDB/the-xdb-contact/">The xDB Contact</a>
      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/contact-facets">Facets</a></li>
     </ul>


            <!-- <li id="par-1-menu">Engagement Automation</a>

      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/extending-experience-analytics-reports">Creating a plan</a></li>
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/how-to-refresh-reports">Debugging a plan</a></li>
     </ul>
   </li> -->

       <li id="par-1-menu">Reporting</a>

      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/extending-experience-analytics-reports">Extend Analytics Reports</a></li>
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/how-to-refresh-reports">Refreshing Reports</a></li>
     </ul>
   </li>

            <li id="par-1-menu">Interfaces</a>

      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/interfaces/launch-pad">Launch Pad</a></li>
        
     </ul>

       </li>
    </li>
  </ul>
</div>