<div class="sidenav">
<h2>Extending Sitecore</h2>
 <ul class="main-menu nav-stacked affix-top">
    <li id="par-1-menu"><a href="{{ site.baseurl }}/documentation/Sitecore%20Fundamentals/Pipelines">Pipelines</a></li>
    <li id="par-1-menu"><a href="{{ site.baseurl }}/documentation/Sitecore%20Fundamentals/Events">Events</a></li>
    <li id="par-1-menu"><a href="{{ site.baseurl }}/documentation/Sitecore%20Fundamentals/Providers">Providers</a>



    </li>
    <li id="par-1-menu"><a href="{{ site.baseurl }}/documentation/Sitecore%20Fundamentals/Asynchronous%20Tasks">Async Tasks</a></li>
    <li id="par-1-menu"><a href="{{ site.baseurl }}/documentation/Sitecore%20Fundamentals/Caching">Caching</a></li>
    <li id="par-1-menu"><a href="{{ site.baseurl }}/documentation/Sitecore%20Fundamentals/Rules Engine">Rules Engine</a></li>
    <li id="par-1-menu"><a href="{{ site.baseurl }}/documentation/Sitecore%20Fundamentals/Data Providers">Data Providers</a>


<ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/documentation/Sitecore%20Fundamentals/Data Providers/Implementing a Data Provider">Implementing a Data Provider</a></li>
      </ul>

    </li>
    </li>
  </ul>
</div>