<div class="sidenav">
<h2>Pipelines and Events</h2>
 <ul class="main-menu nav-stacked affix-top">
    <li id="par-1-menu"><a href="{{ site.baseurl }}/pipelines-and-events/pipelines">Pipelines</a>
        <ul class="sub-menu">
                <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/pipelines-and-events/pipelines/pipeline-processors">Pipeline Processors</a></li>   
                <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/pipelines-and-events/pipelines/extending-creating-pipelines">Extending Pipelines</a></li>
             
        </ul>

    </li>
    <li id="par-1-menu"><a href="{{ site.baseurl }}/pipelines-and-events/events">Events</a></li>
</ul>
</div>