<div class="sidenav">
<h2><a href="{{ site.baseurl }}/xDB">xDB Scaling</a></h2>
 <ul class="main-menu nav-stacked affix-top">
    <li id="par-1-menu"><a href="{{ site.baseurl }}/xDB/the-xdb-contact/">Architecture Overview</a></li>

       <li id="par-1-menu">Components</a>

      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/extending-experience-analytics-reports">Collection</a></li>
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/how-to-refresh-reports">Session</a></li>
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/how-to-refresh-reports">Processing</a></li>
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/how-to-refresh-reports">Reporting</a></li>        
     </ul>
   </li>        

          <li id="par-1-menu">Scaling Collection</a>

      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/extending-experience-analytics-reports">Replication</a></li>
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/how-to-refresh-reports">Sharding</a></li>
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/how-to-refresh-reports"></a></li>
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/xDB/reports/how-to-refresh-reports">Reporting</a></li>        
     </ul>
   </li>       

       </li>
    </li>
  </ul>
</div>