<div class="sidenav">
  <h2>Search</h2>
  <ul class="main-menu nav-stacked affix-top">
    <li id="par-1-menu">Lucene</li>
    <li id="par-1-menu"><a href="{{ site.baseurl }}/search/solr/">Solr</a>
      <ul class="sub-menu">
        <li id="sub-par-1-1-menu"><a href="{{ site.baseurl }}/search/solr/installing-solr-using-the-bitnami-apache-solr-stack/">Installing Solr using the Bitnami Apache Solr Stack</a></li>
        <li id="sub-par-1-1-menu">Configuring Solr for use with Sitecore 8</li>
        <li id="sub-par-1-1-menu">Configuring a Sitecore 8 solution to use Solr</li>
      </ul>
    </li>
  </ul>
</div>
