
{% include site_header.html %}

  <div class="col-md-2" id="sidebar-menu">

      {% if page.category == "config" %}
        {% include nav_config.html %}
      {% endif %}

      {% if page.category == "extending" %}
        {% include nav_extending.html %}
      {% endif %}

      {% if page.category == "mvc" %}
        {% include nav_mvc.html %}
      {% endif %}

      {% if page.category == "search" %}
        {% include nav_search.html %}
      {% endif %}

      {% if page.category == "pipelinesandevents" %}
        {% include nav_pipelines_events.html %}
      {% endif %}

      {% if page.category == "xdb" %}
        {% include nav_xdb.html %}
      {% endif %}

      {% if page.category == "xdbscaling" %}
        {% include nav_xdb_scaling.html %}
      {% endif %}

  </div>

  <div class="col-md-10">
    <h1>{{ page.title }}</h1>

    <hr />

    {{content}}
	</div>

{% include site_footer.html %}
