{% include site_header.html %}


<div class="row">

        <div class="col-md-4">
          <h2><a href="{{ site.baseurl}}/learn"><span class="glyphicon glyphicon-education"></span> Learn</a></h2>
          <p>List of documentation, videos, and other learning resources. </p>
        </div>
        <div class="col-md-4">
          <h2><a href="{{ site.baseurl}}/download"><span class="glyphicon glyphicon-download-alt"></span> Download</a></h2>
          <p>Where and how to download Sitecore and associated modules.</p>
       </div>
        <div class="col-md-4">
          <h2><a href="{{ site.baseurl}}/community"><span class="glyphicon glyphicon-comment"></span> Community</a></h2>
          <p>How to get involved with the Sitecore community - including social media, user groups, conferences, and mailing lists.</p>          
        </div>
      </div>

      <hr />
      
      <div class="row">
      <div class="col-md-12">
      {{content}}
    </div>
  </div>
  
{% include site_footer.html %}